body{
background:#0f0f0f;
font-family:sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
color:white;
}

.login-box{
width:320px;
background:#1c1c1c;
padding:25px;
border-radius:20px;
}

input{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
}

button{
width:100%;
padding:12px;
margin-top:15px;
background:#0099ff;
color:white;
border:none;
border-radius:10px;
}